<div class="headline-area bg-color1">
   <div class="headline-wrapper ">
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-lg-4">
               <div class="headline-box wow fadeInUp" data-wow-duration="1s">
                  <div class="headline-logo">
                     <a href="#"><img src="{{asset 'images/service-icon2.png'}}" alt="Knowledge Base"></a>
                  </div>
                  <div class="headline-content">
                     <h4 class="heading-4"><a href="#">Knowledge Base </a></h4>
                     <p> psum is simply dummy text of the pritypesetting industry Lorem Ipsum has been the industry's standard </p>
                     <a href="#" class="btn btn-style3">Learn More</a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4">
               <div class="headline-box wow fadeInUp" data-wow-duration="2s">
                  <div class="headline-logo">
                     <a href="#"><img src="{{asset 'images/service-icon.png'}}" alt="Question Answer"></a>
                  </div>
                  <div class="headline-content">
                     <h4 class="heading-4"><a href="#">Question Answer </a></h4>
                     <p> psum is simply dummy text of the pritypesetting industry Lorem Ipsum has been the industry's standard </p>
                     <a href="#" class="btn btn-style3">Read FAQ</a>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-4">
               <div class="headline-box m-0 wow fadeInUp" data-wow-duration="3s">
                  <div class="headline-logo">
                     <a href="#"><img src="{{asset 'images/service-icon3.png'}}" alt="Documentation"></a>
                  </div>
                  <div class="headline-content">
                     <h4 class="heading-4"><a href="#">Documentation</a></h4>
                     <p> psum is simply dummy text of the pritypesetting industry Lorem Ipsum has been the industry's standard </p>
                     <a href="#" class="btn btn-style3">Read Docs</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>